<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>𝗬𝗢𝗨𝗠𝗘𝗡𝗧𝗦</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--
    *******************************
    * Conteúdo estátivo da página *
    *******************************
  -->

  <!--
    Ionic slideshow.
    Ref.: https://ionicframework.com/docs/v3/api/components/slides/Slides/
    Importante! Tente deixar todas as imagens com as mesmas dimensões.
  -->
  <ion-slides [options]="{ autoplay: { delay: 2000 } }">
    <ion-slide><img src="assets/login pc.png" alt="Telas do aplicativo"> </ion-slide>
    <ion-slide><img src="assets/login pc2.png" alt="Telas do aplicativo"> </ion-slide>
    <ion-slide><img src="assets/asobre pc.png" alt="Telas do aplicativo"> </ion-slide>
  </ion-slides>

  <h3 class="ion-text-center app-name ion-padding ion-no-margin"><img src="assets/logo_64.png"></h3>
  <p>Uma nova forma de gerir seus documentos</p>
  <p>Com ele você pode:</p>
  <ul>
    <li>Fazer alguma coisa;</li>
    <li>Fazer várias coisas;</li>
    <li>Não fazer nada;</li>
    <li>Fazer de tudo, um pouco;</li>
    <li>E... Muito mais...</li>
  </ul>

  <h4><strong>O que você deseja?</strong></h4>

  <!--
    Ionic Grid.
    Ref.: https://ionicframework.com/docs/api/grid
  -->
  <ion-grid>
    <ion-row>

      <ion-col class="grid-item" routerLink="/usuarios">
        <ion-icon ios="people-outline" md="people-sharp"></ion-icon>
        <span>Gestão de usuários</span>
      </ion-col>

      <ion-col class="grid-item" routerLink="/documentos">
        <ion-icon ios="documents-outline" md="documents-sharp"></ion-icon>
        <span>Gestão de documentos</span>
      </ion-col>

      <ion-col class="grid-item" routerLink="/faq">
        <ion-icon ios="help-circle-outline" md="help-circle-sharp"></ion-icon>
        <span>Questões frequentes</span>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
