.app-name {
  background: linear-gradient(rgb(255, 255, 255), rgb(152, 56, 249));
  color: rgb(255, 255, 255);
  margin: 0;
  -webkit-text-stroke: 1px rgb(224, 224, 224);
  font-size: 2rem;
  font-weight: bold;
  border: 1px dotted rgb(238, 0, 0);
  border-radius: 0 0 0.3rem 0.3rem;
 border-style:solid;
  border-width:medium;
  border-color: rgb(152, 56, 249);
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  background: linear-gradient(rgb(157, 1, 241), rgb(83, 16, 208));
  color: rgb(255, 255, 255);
  margin: 0.25rem;
  padding: 0.5rem;
  width: 33%;
  border-radius: 0.3rem;
}

.grid-item:first-child {
  margin-left: 0;
}

.grid-item:last-child {
  margin-right: 0;
}

.grid-item ion-icon {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

ion-slides {
  border-radius: 0.3rem 0.3rem 0 0;
}

